<div class="aboutContainer">
  <span class="aboutTitle">{{aboutTitle}}</span>
  <span class="aboutDescription">{{aboutDescription}}</span>

  <div class="missionVision">
    <div class="vision">
      <img src="../../assets/about-mision.avif">
      <span class="visionTitle">{{missionTitle}}</span>
      <span class="visionDescription">{{missionDescription}}</span>
    </div>
    <div class="vision">
      <span class="visionTitle">{{visionTitle}}</span>
      <span class="visionDescription">{{visionDescription}}</span>
      <img src="../../assets/about-vision.avif">
    </div>
  </div>
</div>
<app-services></app-services>
