<mat-toolbar color="primary">
  <!-- Top bar -->
  <mat-toolbar-row>
    <div class="logoContainer">
      <button mat-icon-button
          (click)="sidenav.toggle()"
          id="toggleButton"
          class="burgerButton">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo" routerLink="/">
        <img src="../assets/msa-logo.avif">
      </div>
    </div>

    <div class="links-container">
      <a *ngFor="let route of routes"
        [routerLink]="route.link">
        {{route.title}}
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
  mode="side" #sidenav
  position="start"
  role="navigation">
  <mat-nav-list class="nav-list">
    <div class="list-container">
      <a mat-list-item class="list-item"
      *ngFor="let route of routes"
      [routerLink]="route.link"
      (click)="sidenav.close()">
        <span class="nav-caption">{{route.title}}</span>
      </a>
    </div>
  </mat-nav-list>
  
  </mat-sidenav>
  
  <mat-sidenav-content>
  
    <main>
       <router-outlet></router-outlet>
    </main>
    
    <footer class="footer">
      <div class="rights-reserved">
        <span>2024 MSA Automatización</span>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
