<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button
          (click)="sidenav.toggle()"
          id="toggleButton"
          class="burgerButton">
        <mat-icon>menu</mat-icon>
      </button>

    <a class="logo" routerLink="/">
      <img src="../assets/logo-white.svg">
    </a>

    <div class="links-container">
      <a *ngFor="let route of content.routes"
        [routerLink]="route.link">
        {{route.title}}
      </a>

      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>language</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSelectEnglish()">English</button>
        <button mat-menu-item (click)="onSelectSpanish()">Español</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
  mode="side" #sidenav
  position="start" closed
  role="navigation">
  <mat-nav-list class="nav-list">
    <div class="list-container">
      <a mat-list-item class="list-item"
      *ngFor="let route of content.routes"
      [routerLink]="route.link">
        <mat-icon>{{route.icon}}</mat-icon>
        <span class="nav-caption">{{route.title}}</span>
        <span></span>
      </a>
    </div>
  
    <!-- No licensed code was harmed during this project -->
    <!-- <div class="rights-reserved">
      <span>© FreddyChanNarvaez 2023</span>
      <span>All Rights Reserved</span>
    </div> -->
  </mat-nav-list>
  
  </mat-sidenav>
  
  <mat-sidenav-content>
  
    <main>
     <router-outlet></router-outlet>
    </main>
    <footer class="footer">
      <div class="footer-row">
        <span>{{content.social_networks.title}}</span>
        <div class="social">
          <a routerLink="/">
            <img src="../assets/facebook.svg">
          </a>
          <a routerLink="/">
            <img src="../assets/instagram.svg">
          </a>
        </div>
      </div>
      <div class="rights-reserved">
        <span>2024 Kinil Kab</span>
      </div>
    </footer>
  
  </mat-sidenav-content>
</mat-sidenav-container>
