.brandsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding-top: 30px;

  .brandsImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    height: auto;
    
    .brand {
      margin-right: 20px;
      width: 150px;
      object-fit: cover;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
